<div class="row">
  <div class="col">
    <leds-container [showDelayBar]="false" title="Demo Player"></leds-container>
  </div>
</div>

<div class="row mt-4">
  <div class="col d-flex justify-content-between align-items-start">
    <div>
      <button type="button" class="btn btn-primary m-1" [disabled]="!disablePlayStop()" (click)="playDemo(0)">
        <fa-icon [icon]="faPlay"></fa-icon> Play
      </button>
      <button type="button" class="btn btn-primary m-1" [disabled]="disablePlayStop()" (click)="stopDemo()">
        <fa-icon [icon]="faStop"></fa-icon> Stop
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-secondary m-1" (click)="backHome()">
        <fa-icon [icon]="faUndoAlt"></fa-icon> Back
      </button>
    </div>
  </div>
</div>
