$blue-on: #0CF;
$blue-off: #069;
$red-on: #F33;
$red-off: #900;
$yellow-on: #FF6;
$yellow-off: #C90;
$green-on: #0C6;
$green-off: #063;

$black: #000;
$white: #fff;
$red: #f00;

$red_bootstrap: #c82333;

$distance_min: .5rem;

$thin_border: 1px;

$text-xxl: 3em;

$text-s: .75rem;
$text-m: 1rem;
$text-l: 1.25rem;
$text-xl: 1.5rem;

// Breakpoints
$breakpoint-xs: 480px;
$breakpoint-s: 736px;
$breakpoint-m: 980px;
$breakpoint-l: 1280px;
$breakpoint-xl: 1690px;
